header {
  position: fixed;
  z-index: 1;
    padding: 0 20px;
    height: 100px;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
  
  header a {
    text-decoration: none;
  }
  
  #brand {
    height: 54px;
    width: 167px;
    margin-top: 38px;
    margin-left: 50px;
  }

  nav {
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    a {
      color: #000;
      font-family: "CR";
      font-size: 25px;
    }
  
    li {
      padding: 5px;
      margin-left: 10px;
    }
  
    li:hover {
      transform: scale(1.1);
      transition: 0.3s;
      border-bottom: 2px solid #fff;
    }
  }
  
  #login {
      width: 158px;
      height: 52px;
      background-color: #FFD972;
      border-radius: 26px;
      box-shadow: 0px 10px 3px rgba(74, 73, 73, 0.3);
      color: #000;
      border: none;
      margin: 0 auto;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  
    a {
      color: #000;
      font-family: "CR";
      font-size: 25px;
    }
  }
  
  #hamburger-icon {
    margin: auto 0;
    cursor: pointer;
    display: none;
  
    div {
      width: 35px;
      height: 3px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
      background-color: #000;
    }
  }
  
  .open {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-6px, 6px);
      
    }
  
    .bar2 {
      opacity: 0;
    }
  
    .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -8px);
      transform: rotate(45deg) translate(-6px, -8px);
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0px;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 1;
  
    li {
      margin-bottom: 10px;
    }
  }


  @media only screen and (max-width: 900px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }